@import url('fonts.css');

body {
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999999;
  background: #F8F8F8;
  padding-bottom: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: #d6182a;
}

img{
  max-width: 100%;
}

h1{
  font-weight: bold;
  color: #212121;
  letter-spacing: 0;
}

h2{
  font-weight: bold;
  color: #666666;
  letter-spacing: 0;
}